

{% block title %}
Contact
{% endblock title%}

{% block body %}

<div class ="container">
<form action="/contact" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="name">Name</label><br>
    <input type="text" id="name" name="name"><br>
    <label for="phone">Phone</label><br>
    <input type="text" id="phone" name="phone"><br><br>
    <label for="email">Email</label><br>
    <input type="text" id="email" name="email"><br><br>
    <label for="desc">Description</label><br>
    <input type="text" id="desc" name="desc"><br><br>
    <input type="submit" value="Submit">
</form> 
</div>

{% endblock body%}